+breadcrumb("Giới thiệu", "img/breadcrumb/1.jpg")
.container
	.row.flex.flex-wrap
		.col-xs-12.col-lg-9
			section.about-page.clearfix
				h1.pagetitle Giới thiệu
				.content
					p Universal Study là một tổ chức tư vấn du học được chính thức công nhận bởi các cơ quan giáo dục của các nước: British Council (Anh Quốc), AEI (Úc), CEC (Canada), US Commercial Services(Mỹ), NZTE (New Zealand), STB (Singapore)
		
					p Sứ mệnh của chúng tôi là mang đến cho quý phụ huynh và các học sinh những  giải pháp tối ưu, nhanh, chính xác và hiệu quả.
					
					p Chúng tôi một đội ngũ tư vấn dày dạn kinh nghiệm đã hỗ trợ cho rất nhiều học sinh sinh viên thực hiện thành công ước mơ du học và là đại diện của hơn 1000 trường đào tạo tất cả các bậc học từ trung học, cao đẳng, đại học, sau đại học.
					
					p Đến với Universal Study, các du học sinh và phụ huynh sẽ được hưởng dịch vụ tư vấn trọn gói hoàn toàn miễn phí và cam kết khả năng đạt visa tuyệt đối.
					
					p Chúng tôi thường xuyên cập nhật những thay đổi về luật visa các nước cũng như cung cấp những chương trình học bổng toàn phần, bán phần cho du học sinh Việt Nam có nguyện vọng đi du học nước ngoài.
					ul
						li Hỗ trợ chứng minh tài chính
						li  Hỗ trợ đặt vé máy bay miễn phí
						li Bảo hiểm du học
						li Chuyên đảm trách visa thành công cho những trường hợp đã từng bị từ chối
						li Giúp đỡ du học sinh giải quyết khó khăn trong suốt quá trình du học
						li Tiêu chí của chúng tôi là: Chuyên nghiệp, trung thực và hiệu quả.
					figure 
						img(src="img/about/1.jpg", alt="")
				.share
					img(src="img/share.png", alt="")
		.col-xs-12.col-lg-3
			nav.sidebar-category.only.clearfix
				.othertitle 
					span Giới thiệu
				ul 
					li.active
						a(href="#") Giới thiệu chung
					li
						a(href="#") Dịch vụ
			nav.other-news.clearfix
				.othertitle 
					span Tin tức mới
				ul 
					li.news
						figure
							.newsimg
								img(src="img/news/1.jpg", alt="alt")
							figcaption 
								.newsname
									a(href="#") Học bổng ngành du lịch - nhà hàng - khách sạn
					li.news
						figure
							.newsimg
								img(src="img/news/2.jpg", alt="alt")
							figcaption 
								.newsname
									a(href="#") Tìm hiểu về ngành dược Đại học Kansas danh tiếng
					li.news
						figure
							.newsimg
								img(src="img/news/3.jpg", alt="alt")
							figcaption 
								.newsname
									a(href="#") Triển lãm học bổng Mỹ tháng 3/2017
					li.news
						figure
							.newsimg
								img(src="img/news/4.jpg", alt="alt")
							figcaption 
								.newsname
									a(href="#") Nhận học bổng cùng Đại học Nebraska - Lincoln
					li.news
						figure
							.newsimg
								img(src="img/news/5.jpg", alt="alt")
							figcaption 
								.newsname
									a(href="#") Kỳ thi xét tuyển học bổng trung học công lập Mỹ
			nav.side-album.clearfix
				.othertitle 
					span Thư viện ảnh
				.albumlist
					.pic
						a(href="img/news/11.jpg" data-fancybox="gal1")
							img(src="img/news/11.jpg", alt="")
					.pic
						a(href="img/news/12.jpg" data-fancybox="gal1")
							img(src="img/news/12.jpg", alt="")
					.pic
						a(href="img/news/13.jpg" data-fancybox="gal1")
							img(src="img/news/13.jpg", alt="")
					.pic
						a(href="img/news/14.jpg" data-fancybox="gal1")
							img(src="img/news/14.jpg", alt="")
					.pic
						a(href="img/news/15.jpg" data-fancybox="gal1")
							img(src="img/news/15.jpg", alt="")
					.pic
						a(href="img/news/16.jpg" data-fancybox="gal1")
							img(src="img/news/16.jpg", alt="")
					.pic
						a(href="img/news/8.jpg" data-fancybox="gal1")
							img(src="img/news/8.jpg", alt="")
					.pic
						a(href="img/news/9.jpg" data-fancybox="gal1")
							img(src="img/news/9.jpg", alt="")
					.pic
						a(href="img/news/10.jpg" data-fancybox="gal1")
							img(src="img/news/10.jpg", alt="")
				a.btn-viewmore(href="#") Xem thêm
			section.news-video.clearfix
				.othertitle 
					span Video
				.video
					figure
						.videoimg
							img(src="img/news/6.jpg", alt="alt")
							a.play(href="https://www.youtube.com/embed/dNd7f2REEYQ" data-fancybox)
						figcaption 
							h3.videoname
								a(href="#") Một vòng quanh trường Harvard
				.video 
					figure
						figcaption
							h3.videoname 
								a(href="#") Đến với New York
				.video 
					figure
						figcaption
							h3.videoname 
								a(href="#") Tham quan trường ĐH danh tiếng nhất ở Úc
				a.btn-viewmore(href="#") Xem thêm