section.home-welcome.clearfix
	.container
		h1.hometitle Welcome to USC
		.pagedes Universal Study là một tổ chức tư vấn du học được chính thức công nhận bởi các cơ quan giáo trên 7 quốc gia. Sứ mệnh của chúng tôi là mang đến cho quý phụ huynh và các học sinh những  giải pháp tối ưu, nhanh, chính xác và hiệu quả.
		.featurelist.clearfix
			.row.flex.flex-wrap
				.col-xs-12.col-md-6.col-lg-3
					.featurecol
						figure
							.featureimg
								img(src="img/icon/1.png", alt="alt")
							figcaption
								.number.counter 10
								.des Năm kinh nghiệm
				.col-xs-12.col-md-6.col-lg-3
					.featurecol
						figure
							.featureimg
								img(src="img/icon/2.png", alt="alt")
							figcaption
								.number.counter 1500
								.des Hồ sơ thành công
				.col-xs-12.col-md-6.col-lg-3
					.featurecol
						figure
							.featureimg
								img(src="img/icon/3.png", alt="alt")
							figcaption
								.number.counter 1000
								.des Trường học các bậc
				.col-xs-12.col-md-6.col-lg-3
					.featurecol
						figure
							.featureimg
								img(src="img/icon/4.png", alt="alt")
							figcaption
								.number.counter 07
								.des Quốc gia trao học bổng
section.home-service.clearfix(style="background:url(img/servicebg.jpg) center center no-repeat;background-size: cover")
	.container
		h2.hometitle Dịch vụ
		.pagedes Với Universal Study, các du học sinh và phụ huynh sẽ được tư vấn đầy đủ và giàu kinh nghiệm từ dội ngũ tư vấn viên chuyên nghiệp
		.servicelist.clearfix
			.row.flex.flex-wrap
				.col-xs-12.col-md-6.col-lg-3
					.servicecol
						figure 
							.serviceimg
								img(src="img/service/1.png", alt="")
							figcaption Tư vấn chọn khóa học & học bổng
				.col-xs-12.col-md-6.col-lg-3
					.servicecol
						figure 
							.serviceimg
								img(src="img/service/2.png", alt="")
							figcaption Tư vấn kế hoạch tài chính
				.col-xs-12.col-md-6.col-lg-3
					.servicecol
						figure 
							.serviceimg
								img(src="img/service/3.png", alt="")
							figcaption Hỗ trợ xin visa
				.col-xs-12.col-md-6.col-lg-3
					.servicecol
						figure 
							.serviceimg
								img(src="img/service/4.png", alt="")
							figcaption Tư vấn định hướng nghề nghiệp
section.home-tuvan.clearfix
	.container
		h2.hometitle Tư vấn du học
		.tuvanlist.clearfix
			.row.flex.flex-wrap
				.col-xs-12.col-md-4
					.row.flex.flex-wrap
						.col-xs-12
							.tuvancol.text
								figure
									a.tuvanimg(href="#" style="background: #3b9e18")
									figcaption
										.tuvandes Với Universal Study, các du học sinh và phụ huynh sẽ được tư vấn đầy đủ và giàu kinh nghiệm từ dội ngũ tư vấn viên chuyên nghiệp.
						.col-xs-12
							.tuvancol.big
								figure 
									a.tuvanimg(href="#" style="background: url(img/tuvan/1.jpg) center center;background-size: cover")
									figcaption
										.tuvancaption Du học Mỹ
				.col-xs-12.col-md-4
					.row.flex.flex-wrap
						.col-xs-12.col-md-6
							.tuvancol
								figure 
									a.tuvanimg(href="#" style="background: url(img/tuvan/2.jpg) center center;background-size: cover")
									figcaption
										.tuvancaption Học bổng Trung học công lập Mỹ
						.col-xs-12.col-md-6
							.tuvancol
								figure 
									a.tuvanimg(href="#" style="background: url(img/tuvan/3.jpg) center center;background-size: cover")
									figcaption
										.tuvancaption Du học hè
						.col-xs-12.col-md-6
							.tuvancol
								figure 
									a.tuvanimg(href="#" style="background: url(img/tuvan/4.jpg) center center;background-size: cover")
									figcaption
										.tuvancaption Du học Anh
						.col-xs-12.col-md-6
							.tuvancol
								figure 
									a.tuvanimg(href="#" style="background: url(img/tuvan/5.jpg) center center;background-size: cover")
									figcaption
										.tuvancaption Du học Singapore
						.col-xs-12
							.tuvancol
								figure 
									a.tuvanimg(href="#" style="background: url(img/tuvan/6.jpg) center center;background-size: cover")
									figcaption
										.tuvancaption Du học Canada
				.col-xs-12.col-md-4
					.row.flex.flex-wrap
						.col-xs-12
							.tuvancol.big
								figure 
									a.tuvanimg(href="#" style="background: url(img/tuvan/7.jpg) center center;background-size: cover")
									figcaption
										.tuvancaption Du học Úc
						.col-xs-12
							.tuvancol
								figure 
									a.tuvanimg(href="#" style="background: url(img/tuvan/8.jpg) center center;background-size: cover")
									figcaption
										.tuvancaption Du học New Zealand
section.home-news.clearfix(style="background:url(img/newsbg.jpg) center center no-repeat;background-size: cover")
	.container
		h2.hometitle Tin tức
		.homenews-list.clearfix
			.row.flex.flex-wrap
				.col-xs-12.col-lg-6
					.newscol.big
						figure 
							a.newsimg(href="#" style="background:url(img/news/h1.jpg) center center no-repeat;background-size: cover")
							figcaption
								time 25/03/2017
								h3.newsname
									a(href="#") Phỏng vấn nhận học bổng cùng đại học Nebraska - Lincoln (unl)
				.col-xs-12.col-lg-6
					.newscol
						figure
							a.newsimg(href="#" style="background:url(img/news/h2.jpg) center center no-repeat;background-size: cover")
							figcaption
								h3.newsname
									a(href="#") Triển lãm học bổng Mỹ tháng 3/2017
								.newsdes Với mức học bổng lên đến US $24,000 từ các trường đại Học
								a.link(href="#") Xem thêm <span class="lnr lnr-arrow-right"></span>
					.newscol
						figure
							a.newsimg(href="#" style="background:url(img/news/h3.jpg) center center no-repeat;background-size: cover")
							figcaption
								h3.newsname
									a(href="#") Học bổng bay State College lên đến 21,000usd
								.newsdes Bay State College là một trong những trường đại học hàng đầu
								a.link(href="#") Xem thêm <span class="lnr lnr-arrow-right"></span>

.container
	.row.flex.flex-wrap
		.col-xs-12.col-lg-6
			section.home-feedback.clearfix
				h2.hometitle.text-xs-left Cảm nhận học viên
				.feedback-slide
					.item
						.feedback
							.content Giờ đây, nước Anh trong mắt tôi không chỉ là ước mơ đã thành hiện thực, mà còn là một kỷ niệm của một thời gian du học vất vả nhưng vô cùng ý nghĩa.Cảm ơn USC đã mang đến cho tôi những ước mơ, những trải nghiệm quý báu, những người bạn tuyệt vời và một tầm nhìn mới tại Anh.
							.user
								figure 
									.img
										img(src="img/feedback/1.jpg", alt="")
									figcaption
										.name Nguyễn Ngọc Băng Tâm
										.des Học viên Khóa MBA, trường University of Birmingham
					.item
						.feedback
							.content Giờ đây, nước Anh trong mắt tôi không chỉ là ước mơ đã thành hiện thực, mà còn là một kỷ niệm của một thời gian du học vất vả nhưng vô cùng ý nghĩa.Cảm ơn USC đã mang đến cho tôi những ước mơ, những trải nghiệm quý báu, những người bạn tuyệt vời và một tầm nhìn mới tại Anh.
							.user
								figure 
									.img
										img(src="img/feedback/1.jpg", alt="")
									figcaption
										.name Nguyễn Ngọc Băng Tâm
										.des Học viên Khóa MBA, trường University of Birmingham
					.item
						.feedback
							.content Giờ đây, nước Anh trong mắt tôi không chỉ là ước mơ đã thành hiện thực, mà còn là một kỷ niệm của một thời gian du học vất vả nhưng vô cùng ý nghĩa.Cảm ơn USC đã mang đến cho tôi những ước mơ, những trải nghiệm quý báu, những người bạn tuyệt vời và một tầm nhìn mới tại Anh.
							.user
								figure 
									.img
										img(src="img/feedback/1.jpg", alt="")
									figcaption
										.name Nguyễn Ngọc Băng Tâm
										.des Học viên Khóa MBA, trường University of Birmingham
		.col-xs-12.col-lg-6
			section.home-partner.clearfix
				h2.hometitle.text-xs-left Đối tác
				.partnerslide.clearfix
					.item
						.partnerlist.clearfix
							.row.flex.flex-wrap
								.col-xs-6.col-md-4
									.partnercol
										img(src="img/partner/1.jpg", alt="")
								.col-xs-6.col-md-4
									.partnercol
										img(src="img/partner/1.jpg", alt="")
								.col-xs-6.col-md-4
									.partnercol
										img(src="img/partner/1.jpg", alt="")
								.col-xs-6.col-md-4
									.partnercol
										img(src="img/partner/1.jpg", alt="")
								.col-xs-6.col-md-4
									.partnercol
										img(src="img/partner/1.jpg", alt="")
								.col-xs-6.col-md-4
									.partnercol
										img(src="img/partner/1.jpg", alt="")
					.item
						.partnerlist.clearfix
							.row.flex.flex-wrap
								.col-xs-6.col-md-4
									.partnercol
										img(src="img/partner/1.jpg", alt="")
								.col-xs-6.col-md-4
									.partnercol
										img(src="img/partner/1.jpg", alt="")
								.col-xs-6.col-md-4
									.partnercol
										img(src="img/partner/1.jpg", alt="")
								.col-xs-6.col-md-4
									.partnercol
										img(src="img/partner/1.jpg", alt="")
								.col-xs-6.col-md-4
									.partnercol
										img(src="img/partner/1.jpg", alt="")
								.col-xs-6.col-md-4
									.partnercol
										img(src="img/partner/1.jpg", alt="")
					.item
						.partnerlist.clearfix
							.row.flex.flex-wrap
								.col-xs-6.col-md-4
									.partnercol
										img(src="img/partner/1.jpg", alt="")
								.col-xs-6.col-md-4
									.partnercol
										img(src="img/partner/1.jpg", alt="")
								.col-xs-6.col-md-4
									.partnercol
										img(src="img/partner/1.jpg", alt="")
								.col-xs-6.col-md-4
									.partnercol
										img(src="img/partner/1.jpg", alt="")
								.col-xs-6.col-md-4
									.partnercol
										img(src="img/partner/1.jpg", alt="")
								.col-xs-6.col-md-4
									.partnercol
										img(src="img/partner/1.jpg", alt="")
section.home-form.clearfix(style="background:url(img/formbg.jpg) center center no-repeat;background-size: cover")
	.container
		h2.hometitle Đăng ký lịch hẹn tư vấn
		.form-wrap.clearfix
			.row.flex.flex-wrap
				.form-group.col-xs-12.col-md-6
					input(type="text" placeholder="Họ tên")
				.form-group.col-xs-12.col-md-6
					input(type="text" placeholder="Ngày sinh")
				.form-group.col-xs-12.col-md-6
					input(type="text" placeholder="Điện thoại")
				.form-group.col-xs-12.col-md-6
					input(type="text" placeholder="Email")
				.form-group.col-xs-12.col-md-6
					select
						option Chương trình quan tâm
				.form-group.col-xs-12.col-md-6
					input(type="text" placeholder="Ngày muốn gặp tư vấn viên")
				.select-option.clearfix.col-xs-12
					label Bạn quan tâm tư vấn du học nào?
					ul
						li.checkbox
							input#check1(type="checkbox", name="")
							label(for="check1") Du học Mỹ
						li.checkbox
							input#check2(type="checkbox", name="")
							label(for="check2") Du học Mỹ
						li.checkbox
							input#check3(type="checkbox", name="")
							label(for="check3") Du học Mỹ
						li.checkbox
							input#check4(type="checkbox", name="")
							label(for="check4") Du học Mỹ
						li.checkbox
							input#check5(type="checkbox", name="")
							label(for="check5") Du học Mỹ
						li.checkbox
							input#check6(type="checkbox", name="")
							label(for="check6") Du học Mỹ
						li.checkbox
							input#check7(type="checkbox", name="")
							label(for="check7") Du học Mỹ
						li.checkbox
							input#check8(type="checkbox", name="")
							label(for="check8") Du học Mỹ
				.form-group.col-xs-12
					textarea(name="", cols="30", rows="4", placeholder="Nội dung")
				.frm-btn.col-xs-12
					input(type="submit", value="Đăng ký")