section.landing-page.clearfix
	.container
		.sitelogo.text-xs-center
			img(src="img/landing/logo.png", alt="")
		.object-wrap.clearfix
			a.book1.hidden-sm-down(href="#")
				img(src="img/landing/b1.png", alt="")
			a.book2.hidden-sm-down(href="#")
				img(src="img/landing/b2.png", alt="")
			.book3.hidden-sm-down
				img(src="img/landing/b3.png", alt="")
			.ipad
				img(src="img/landing/ipad.png", alt="")
				.img-slide 
					.item
						img(src="img/course/3.jpg", alt="")
					.item
						img(src="img/course/3.jpg", alt="")
					.item
						img(src="img/course/3.jpg", alt="")
			.mobile-link.hidden-md-up
				a(href="#") Tư vấn du học
				a(href="#") Chương trình Anh ngữ Quốc tế
			
		.footer.clearfix
			.social
				.label Connect with us:
				.social-link
					a(href="#") <i class="fa fa-facebook" aria-hidden="true"></i>
					a(href="#") <i class="fa fa-google-plus" aria-hidden="true"></i>
					a(href="#") <i class="fa fa-youtube-play" aria-hidden="true"></i>
			.copyright © 2017 Bản quyền thuộc về USC. All Right Reserved.