header
	section.headertop.clearfix
		.container
			.social
				a(href="#") <i class="fa fa-facebook" aria-hidden="true"></i>
				a(href="#") <i class="fa fa-google-plus" aria-hidden="true"></i>
				a(href="#") <i class="fa fa-twitter" aria-hidden="true"></i>
				a(href="#") <i class="fa fa-youtube-play" aria-hidden="true"></i>
			.colright
				.search
					.searchwrap
						input(type="text" placeholder="Tìm kiếm...")
						button.searchbutton <i class="fa fa-search" aria-hidden="true"></i>
				.language
					a(href="#") EN
					a.active(href="#") VN
	section.headermain.clearfix
		.container
			.btn-showmenu.hidden-xl-up <i class="fa fa-bars" aria-hidden="true"></i>
			.overlay
			.sitelogo
				a(href="index.html")
					img(src="img/logo.png", alt="")
			nav.menu.clearfix
				.sitelogo.hidden-xl-up
					a(href="index.html")
						img(src="img/logo.png", alt="")
				.menucontent.clearfix
					.menuleft
						ul.menulink
							li
								a(href="#") Giới thiệu
								//- .btn-showsub <i class="fa fa-angle-down" aria-hidden="true"></i>
								//- .sub
									ul 
										li 
											a(href="#") Về chúng tôi
										li 
											a(href="#") Dịch vụ
							li.hassub
								a(href="#") Tư vấn du học
								.btn-showsub <i class="fa fa-angle-down" aria-hidden="true"></i>
								.sub
									ul 
										li 
											a(href="#") Du học Mỹ
										li 
											a(href="#") Du học Anh
										li 
											a(href="#") Du học Canada
							li.hassub
								a(href="#") Hỗ trợ
								.btn-showsub <i class="fa fa-angle-down" aria-hidden="true"></i>
								.sub
									ul 
										li 
											a(href="#") Yêu cầu visa
										li 
											a(href="#") Trường học
										li 
											a(href="#") Hỏi đáp
										li 
											a(href="#") Đăng ký tư vẫn
							li.hassub
								a(href="#") Học viên
								.btn-showsub <i class="fa fa-angle-down" aria-hidden="true"></i>
								.sub
									ul 
										li 
											a(href="#") Câu chuyện thành công
										li 
											a(href="#") Chia sẻ của học viên
					.menuright
						ul.menulink
							li
								a(href="#") Tiếng Anh du học
							li.hassub
								a(href="#") Tin tức
								.btn-showsub <i class="fa fa-angle-down" aria-hidden="true"></i>
								.sub
									ul 
										li 
											a(href="#") Học bổng
										li 
											a(href="#") Triển vọng việc làm / Định cư
										li 
											a(href="#") Du học
										li 
											a(href="#") Ưu đãi mới
										li 
											a(href="#") Sự kiện nổi bật
							li
								a(href="#") Thư viện
							li
								a(href="#") Liên hệ